/* Global styles */
body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background: #fff;
  color: #333;
  /* width:100%; */
  display: flex;
  justify-content: center;
}

.app {
  max-width: 400px;
  margin: auto;
  padding: 20px;
}

h1,
h2 {
  color: #e60000;
}

input[type="text"],
input[type="password"] {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  border: 2px solid #e60000;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  border-radius: 8px;
}

button {
  background-color: #e60000;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
}

.login-page {
  text-align: center;
  padding-top: 60px;
}

.login-page img {
  width: 120px;
  margin-bottom: 20px;
}

#topicTitle {
  font-size: 1.4em;
  width: 98%;
  font-weight: bold;
  color: #e60000;
  text-align: center;
  margin: 15px 0;
  padding: 10px;
  background-color: #fff0f0;
  border-radius: 8px;
}

#searchInput {
  width: 98%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 2px solid #ccc;
}

p {
  border: 2px solid #e60000;
  border-radius: 14px;
  padding: 14px 16px;
  margin: 12px 0;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  min-height: 50px;
  width: 95%;
}

.creator-box {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  background: #fff0f0;
  width: 98%;
}

.creator-box img {
  width: 70px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.creator-details {
  text-align: left;
}

.creator-details .name {
  color: #e60000;
  font-weight: bold;
}

.creator-details .username {
  font-size: 0.9em;
  color: #333;
}

.logo-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -10px;
}

.inline-logo {
  height: 100px;
}

.inline-title {
  font-size: 1.5em;
  color: #e60000;
  margin-left: -27px;
  margin-bottom: 4px;
}

.credit {
  margin-top: 30px;
}

h4 {
  color: red;
  margin: 5px;
  font-weight: 600;
}

footer {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  margin-top: 10px;
}

footer span {
  color: black;
}

@media (max-width: 480px) {
  .app {
    padding: 10px;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    border-radius: 8px;
  }
}
#email {
  border-radius: 5px;
  width: 300px;
  padding: 10px;
  border:solid 1px red;
  text-align: center;
}
